ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#parent,
#child,
#inner-child {
    margin: 1rem;
    padding: 16px;
    outline: 1px solid #FFC107;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

#parent {
    background-color: #673AB7;
}

#child {
    background-color: #448AFF;
}

#inner-child {
    background-color: #009688;
}